// variables ==============================>
// Color
$pc : #007cc0;
$sc : #2a3f4c;
$wc : #ffffff;
$gc : gray;

// Transition
$ts: all linear .2s;

// box-shadow
$bs: 0 2px 15px rgba(0, 0, 0, 0.175);
