// Start Header
header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    .navbar {
        .sidebar-show-button {
            line-height: 0;
            background-color: transparent;
            padding: 0;
            border: 0;
            font-size: 22px;
        }
        .custom-navbar-nav {
            @include f-box();
            padding-left: 0;
            margin-bottom: 0;
            .nav-item {
                position: relative;
                list-style-type: none;
                .nav-link {
                    text-align: center;
                    width: 32px;
                    height: 32px;
                    background-color: $gc;
                    color: $wc;
                    border-radius: 50px;
                    margin-right: 10px;
                    line-height: 18px;
                    transition: $ts;
                    padding: 7px;
                    &:hover {
                        background-color: $sc;
                        color: $wc;
                    }

                    &:focus {
                        background-color: $sc;
                        color: $wc;
                    }
                }

                .setting-wrap {
                    width: 300px;
                    @media screen and (max-width: 500px) {
                        width: 250px;
                      }
                    .list-group {
                        border: none;
                        box-shadow: $bs;

                        .list-group-item {
                            border: none;
                            i{
                                width: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .notification-icon {
                    .badge {
                        background: #2ecd99;
                        border-radius: 50px;
                        top: -5px;
                        color: #fff;
                        font-size: 10px;
                        position: absolute;
                        right: 5px;
                        text-align: center;
                    }
                }

                .notification-wrap {
                    width: 400px;
                    box-shadow: $bs;
                    @media screen and (max-width: 500px) {
                        width: 300px;
                      }
                    .card{
                        .card-header, .card-footer{
                            background-color: $wc;
                        }
                        .card-body{
                            padding: 0;
                            .list-group{
                                border-radius: 0;
                                border: 0;
                                .list-group-item{
                                    border: 0;
                                    img{
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 50px;
                                        margin-right: 20px;
                                    }
                                    div{
                                        p{
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .list-group-item-active{
                                    background-color: #007dc017;
                                }
                            }
                        }
                    }
                }

                .user-icon {
                    img {
                        width: 32px;
                        border-radius: 50px;
                    }
                }

                .user-wrap {
                    width: 200px;

                    .list-group {
                        border: none;
                        box-shadow: $bs;

                        .list-group-item {
                            border: none;

                            i {
                                width: 20px;
                            }
                        }
                    }
                }

                .dropdown-menu {
                    top: 50px;
                    opacity: 0;
                    visibility: hidden;
                    right: 0;
                    left: auto;
                    padding: 0;
                    display: block;
                    transition: $ts;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: $wc;
                        right: 15px;
                        top: -6px;
                        transform: rotate(45deg);
                        border: 1px solid rgba(0, 0, 0, 0.219);
                        border-right: none;
                        border-bottom: none;
                    }
                }

                .dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }

                .show {
                    top: 40px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}



.search-overlay{
 position: fixed;
 left:0;
 top:0;
 right:0;
 bottom:0;
 background-color: #000000;
 opacity: 0;
 visibility: hidden;
 transition: all .3s ease-in;
}
.search-overlay.active{
	visibility: visible;
	opacity: 0.8;
	z-index: 10;
}

.search-popup{
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 400px;
	z-index: 11;
	opacity: 0;
    visibility: hidden;
    transition: $ts;
    .form-group{
        position: relative;
        .form-control{
            width: 100%;
            height: 40px;
            padding:0 100px 0 30px;
            font-size:18px;
            font-weight: 200;
            border-radius: 30px;
            color:$wc;
            background-color: transparent;
            border: 1px solid $wc;
        }
        .submit-btn{
            font-size:18px;
            width: 70px;
            height: 40px;
            color: $sc;
            background-color: $wc;
            cursor: pointer;
            border: 1px solid $wc;
            position: absolute;
            right:0;
            top:0;
            border-radius: 0 30px 30px 0;
        }
    }
    /*responsive*/
    @media(max-width:650px){
        width: 100%;
    }

// End Header
}
.search-popup.active{
	visibility: visible;
	opacity: 1;
	z-index: 11;
}
